infra/datanode1
infra/datanode2
infra/datanode3
kafka-storage
logs
**/configs/*.json
infra/dags/configs/*
importer/crawler.json
.env
node_modules

spark_env.tar.gz

harbor-offline-installer-*

harbor/*

knowledge-base/*.pkl
.metaflow
mlruns

metabase/data

**/__pycache__/**

master.cat.crt
master.cat.key
